#KEYS
TICKETMASTER_API_KEY=your_ticketmaster_key_here
GMAIL_ADDRESS=your_email@gmail.com
GMAIL_APP_PASSWORD=your_16_char_app_password
NOTIFICATION_TO_ADDRESS=where_to_send_alerts@gmail.com

#list of artists to watch
FAVORTITE_ARTISTS = The Weeknd, Olivia Rodrigo, Travis Scott

#city to check for concerts
TARGET_CITY = New York